<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helia - Example</title>
    <style>
        body {
          background: white;
          margin: 0;
          padding: 0;
        }
        canvas {
          margin: 15px auto;
          display: block;
          border: 0;
          /* Remove chrome's outlining of focused canvas */
          outline-style: none;
          box-shadow: none;
          border-color: transparent;
            background-color: black;
        }
    </style>
</head>
<body id="helia">
  <script type="module">
      import init from "./pkg/example.js";
      init().then(() => {
          console.log("WASM Loaded");
      });
  </script>
</body>

</html>
